/**
 * Public CSS
 */

 .article-rating-container {  
  border-top: 1px solid #ddd;
  display: block;
  padding: 1em 0;
}

.article-rating-container span {
  display: inline-block;
  cursor: pointer;
}

.article-rating-container span:hover {
  color: #ddd;
}

.article-rating-container .article-rating-smile img,
.article-rating-container .article-rating-frown img {
  height: 40px;
  width: 40px;
}

.article-rating-container .article-rating-smile img {
  filter: invert(76%) sepia(27%) saturate(842%) hue-rotate(31deg) brightness(91%) contrast(92%);
}

.article-rating-container .article-rating-smile img:hover {
  filter: invert(12%) sepia(32%) saturate(4%) hue-rotate(315deg) brightness(84%) contrast(94%);
}

.article-rating-container .article-rating-smile.selected img:hover {
  filter: invert(76%) sepia(27%) saturate(842%) hue-rotate(31deg) brightness(91%) contrast(92%);
}

.article-rating-container .article-rating-frown img {
  filter: invert(50%) sepia(92%) saturate(4083%) hue-rotate(335deg) brightness(85%) contrast(81%);
}

.article-rating-container .article-rating-frown.selected img {
  filter: invert(50%) sepia(92%) saturate(4083%) hue-rotate(335deg) brightness(85%) contrast(81%);
}

.article-rating-container .article-rating-frown img:hover {
  filter: invert(12%) sepia(32%) saturate(4%) hue-rotate(315deg) brightness(84%) contrast(94%);
}
  
.article-rating-container span.faded img {
  filter: none;
  opacity: 0.1;
}

.article-rating-title {
  font-style: italic;
  margin: 0 0 12px 0;
}

/** Shortcode */

ul.docupress-shortcode-list {
  list-style-type: none;
  margin: 0 0 24px 0;
}

ul.docupress-shortcode-list li {
  display: flex;
  flex-direction: row;
  line-height: 20px;
  margin-bottom: 12px;
}

ul.docupress-shortcode-list li:last-child {
  margin-bottom: 0;
}

ul.docupress-shortcode-list li:before {
  background: url(../images/file-text.svg);
  background-position: 0 0;
  background-size: 20px 20px;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}

/** Estimated reading time */

p.docupress-est-reading {
  font-style: italic;
}

/** Articles widget */

ul.docupress-widget-list li {
  display: flex;
  flex-direction: row;
  line-height: 20px;
  margin-bottom: 12px;
}

ul.docupress-widget-list li:last-child {
  margin-bottom: 0;
}

ul.docupress-widget-list li:before {
  background: url(../images/file-text.svg);
  background-position: 0 0px;
  background-size: 20px 20px;
  content: '' !important;
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}

/** Estimated reading time */

p.docupress-est-reading {
  font-style: italic;
  line-height: 20px;
  display: flex;
  flex-direction: row;
}

.docupress-est-reading:before {
  background: url(../images/clock.svg) no-repeat center center;
  background-size: cover;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  width: 20px;
}