.article-rating-container {	
	padding: 1em 0;
	display: block;
}

.article-rating-container span {
    display: inline-block;
	cursor: pointer;
}

.article-rating-container span:hover {
	color: #dddddd;
}

.article-rating-container .article-rating-up img,
.article-rating-container .article-rating-down img {
    width: 40px;
    height: 40px;
}

.article-rating-container .article-rating-up img {
    filter: invert(76%) sepia(27%) saturate(842%) hue-rotate(31deg) brightness(91%) contrast(92%);
}

.article-rating-container .article-rating-up img:hover {
    filter: invert(12%) sepia(32%) saturate(4%) hue-rotate(315deg) brightness(84%) contrast(94%);
}

.article-rating-container .article-rating-down img {
    filter: invert(50%) sepia(92%) saturate(4083%) hue-rotate(335deg) brightness(85%) contrast(81%);
}

.article-rating-container .article-rating-down img:hover {
    filter: invert(12%) sepia(32%) saturate(4%) hue-rotate(315deg) brightness(84%) contrast(94%);
}

.article-rating-container .article-rating-already-voted {
	padding-top: 1em;
	font-size: 0.9em;
	display: none;
	-webkit-transition: (all 0.3s);
    transition: (all 0.3s);
}

.article-rating-title {
    font-style: italic;
}